
# Banco de dados PostgreSQL
psycopg==3.1.18  # Substituído psycopg2-binary por psycopg v3

# Utilitários
python-dotenv==1.0.1

# Logging e debug
colorama==0.4.6

# Opcional: para desenvolvimento
pytest==7.4.4
pytest-cov==4.1.0